{% load i18n %}

<div class="panel panel-default">
  <div class="panel-heading"> <a href="{% url 'update_profile' profile.id %}">{% trans "Your account" %}</a></div>
    <div class="panel-body">
        <div class="col-md-5">
          <strong>{% trans "Full name" %}: </strong><a href="{% url 'update_profile' profile.id %}">{{ user.profile.first_name}} {{ user.profile.last_name }}</a> <br>
          <strong>{% trans "Address" %}: </strong> <a href="{% url 'update_profile' profile.id %}">{{ user.profile.address }}</a> <br>
          <strong>{% trans "Supervisor" %}:</strong> <a href="{% url 'update_profile' profile.id %}">{{ user.profile.get_supervision_question_display }} </a><br>
          {% trans "Not set" as not_set %}
          <strong>{% trans "Frequency of email notifications" %}:</strong> <a href="{% url 'update_profile' profile.id %}">{{ user.profile.get_notification_display|default:not_set }}</a> <br>
          <strong>{% trans "Your account supervisor" %}:</strong> <a href="{% url 'update_profile' profile.id %}">{{ user.profile.supervisor|default:not_set }}</a>
        </div>
    </div>
</div>
