{% extends 'aira/base/main.html' %}
{% load i18n %}

{% load bootstrap3 %}
{% block title %} {{ user }} {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>{% trans "Add irrigation" %} </h3>
        <hr>
        <form method="post" role="form" class="form-horizontal">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
            {% if user.username != "demo" %}
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success btn-xs">{% trans "Update" %}</button>
                <a class="btn btn-success btn-xs" href="{% url 'home' username=agrifield.owner.username %}"> {% trans "Back" %} </a>
              </div>
            {% endif %}
          {% endbuttons %}
        </form>
      </div>
      <div class="col-md-1">
      </div>
      {% if agrifield.appliedirrigation_set.exists %}
        <div class="col-md-7">
          {% include "aira/appliedirrigation/table_of_logs.html" %}
        </div>
      {% endif %}
  </div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    aira.setupDateTimePickerForAppliedIrrigation();
    (function () {
      function hideFields(fields) {
        fields.forEach((field) => {
          const input = document.querySelector(`#id_${field}`);
          input.parentElement.style.display = 'none';
          input.removeAttribute('required');
        });
      }
      function showFields(fields) {
        fields.forEach((field) => {
          const input = document.querySelector(`#id_${field}`);
          input.parentElement.style.display = '';
          input.setAttribute('required', '');
        });
      }
      function onIrrigationTypeChanged(_) {
        const selectedType = document.querySelector('select#id_irrigation_type')
          .value;
        const fieldsPerType = {
          VOLUME_OF_WATER: ['supplied_water_volume'],
          DURATION_OF_IRRIGATION: ['supplied_duration', 'supplied_flow_rate'],
          HYDROMETER_READINGS: [
            'hydrometer_reading_start',
            'hydrometer_reading_end',
            'hydrometer_water_percentage',
          ],
        };
        for (const type in fieldsPerType) {
          if (type === selectedType) {
            showFields(fieldsPerType[type]);
          } else {
            hideFields(fieldsPerType[type]);
          }
        }
      }
      document
        .querySelector('select#id_irrigation_type')
        .addEventListener('change', onIrrigationTypeChanged);
      onIrrigationTypeChanged();
    })();
  </script>
{% endblock %}
